<div id="sj-chart">
    <div class="sj-chart1">
        <h4>Note pitch distribution</h4>
        <div class="sj-chart4" #svgRef3></div>
        <h5>Note dynamics distribution</h5>
        <div class="sj-chart3" #svgRef2></div>
    </div>
    <div class="sj-chart2">
        <h4>Note pitch per time</h4>
        <div class="sj-chart6" #svgRef4></div>
        <h4>Note dynamics per time</h4>
        <div class="sj-chart7" #svgRef5></div>
    </div>
</div>
<!-- <div id='barchart_note_velocity' style='display: inline'></div>
<div id='barchart_note_position' style='display: inline'></div>
<div id='scatterplot' style='display: inline'></div>
<div id='barplot' style='display: inline'></div> -->