.sj-chart3, 
.sj-chart4 {
  width: 200px;
  height: 200px;
}
.sj-chart6 {
  width: 1000px;
  height: 200px;
}
.sj-chart7 {
  width: 1000px;
  height: 200px;
}

#sj-chart {
  float: left;
  display: flex;
  width: 1200px;
  height: 450px;
}

.sj-chart1 > h4,
.sj-chart2 > h4 {
  margin: 20px 10px -20px 10px;
}