<!DOCTYPE html>
<html class="gr__galactic_ink"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body data-gr-c-s-loaded="true">
	<div id="time_bar">
		<div class="player">
			<div id="time_controller">
				<input type="image" src="../../assets/dongmoon_images/play.png" align="absmiddle" value="pause" onclick="pausePlayStop()" id="pausePlayStop">
				<input type="image" src="../../assets/dongmoon_images/stop.png" align="absmiddle" value="stop" onclick="pausePlayStop(true)">
				<!-- <input type="image" src="../../assets/dongmoon_images/backward.png" align="absmiddle" value="stop" onclick="player.getNextSong(-1);">
                <input type="image" src="../../assets/dongmoon_images/forward.png" align="absmiddle" value="stop" onclick="player.getNextSong(+1);"> -->
			</div>
			<div class="time-controls" style="float: left; margin: 0; position: relative; top: 5px;">
				<!-- <span id="time1" class="time"></span> -->
				<span id="capsule">
						<span id="cursor" style="width: 8.41882%;"></span>
				</span>
				<!-- <span id="time2" class="time" style="text-align: left;"></span> -->
			</div>
		</div>
	</div>
</body></html>