#score-view {
    width: 1050px;
    height: 420px;
}
mat-slider {
    bottom: 15px;
    width: 100%;
}
mat-progress-spinner {
    position: absolute;
    top: 45%;
    bottom: 45%;
    left: 45%;
    right: 45%;
}
p {
    margin: auto;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 32pt;
}